/* General styles */
body {
    font-size: 15px;
    line-height: 24px;
    font-family: 'futura_ltbook', sans-serif;
    color: #484848;
}
/*h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
    color: #484848;
    font-family: 'futura_ltbold', sans-serif;
}*/
h1{font-size: 70px; margin:0; line-height: 72px;}
h2 {font-size: 30px; margin: 0 0 20px;}
h3 {font-size: 20px; margin: 0 0 10px;}
img {width: 100%;}
a,button{outline: 0 !important;}
a:hover,a:focus{ text-decoration: none}


/* Header */



/* Top Nav */
.top_nav {
    background: #ffcb0f none repeat scroll 0 0;
    overflow: hidden;
    padding: 10px 0;
}
.list-inline.info {
    float: left;
    margin: 0;
}
.list-inline.info > li {
    padding: 0 20px 0 0;
}
.list-inline.info a,.list-inline.social_icon a {
    color: #222;
    font-family: 'futura_ltbook', sans-serif;
}
.list-inline.info a:hover,.list-inline.social_icon a:hover {
    color: #555;
}
.list-inline.info a .fa,.list-inline.social_icon  a .fa {
    font-size: 20px;
    vertical-align: text-top;
}
.list-inline.social_icon {
    float: right;
    margin: 0;
}
/* Main Nav */
nav.navbar.bootsnav {
    background: #222533 none repeat scroll 0 0;
    border: 0 none;
}
nav.navbar.bootsnav ul.nav > li > a {
    color: #fff;
}
nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li > a:focus {
    color: #aaa;
}
.navbar-brand {
    height: auto;
    padding: 20px 15px;
}
#navbar-menu {
    margin: 6px 0;
}
.nav.navbar-nav.menu {
    float: right;
}
.attr-nav {
    margin: 5px -10px 0 0;
}
.attr-nav > ul > li > a {
    color: #ffcb0f;
    font-size: 20px;
}
.attr-nav > ul > li > a:hover,.attr-nav > ul > li > a:focus {
    color: #d7a300;
}
/* Carousel */
.home .carousel {
    position: relative;
    height: 700px;
    display: inline-block;
}
.home .carousel .item img{
    width:100%;
    height: 700px;
}
/*.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    height: 700px;
}*/
.carousel .overlay {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}
.carousel-caption {
    left: 7%;
    right: 7%;
    top: 70px;
}
.carousel-caption h1 {
    color: #fff;
    margin-bottom:20px;
}
.carousel-caption h1.second_heading {
    color:#ffcb0f;
    margin-bottom:35px;
}
.carousel-caption > h3 {
    color: #fff;
    font-family: "futura_ltbook",sans-serif;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: inherit;
}
.carousel-caption > p {
    font-size: 23px;
    line-height: 28px;
}
.btn.know_btn {
    background: #ffcb0f none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    font-family: "futura_ltbold",sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    /*text-transform: uppercase;*/
    border:1px solid transparent;
}
.carousel-caption .btn.know_btn {
    margin-top: 64px;
}
.carousel-caption .btn.know_btn:last-child {
    margin-left: 20px;
}
.btn.know_btn:hover,
.btn.know_btn:focus {
    background: transparent;
    color:#ffcb0f;
    border:1px solid #ffcb0f;
}




.carousel-control{
    width:50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top:-25px;
    top:50%;
}

/*Head Title*/
.head_title p{
    line-height: 2.3rem;
}

/* Why us */
#why_us {
    background: #f2f7fa none repeat scroll 0 0;
    padding-bottom: 50px;
    line-height: 18px;
}
#why_us h2 {
    margin: 70px 0 20px;
}
.why_us_item{ padding-top: 55px;}
#why_us .fa{
    /*border-radius: 100%;*/
    /*box-shadow: 0 0 0 10px #ffcb0f, 0 0 0 20px #fadb64, 0 0 0 30px #f7e59c;*/
    padding: 10px;
    font-size:25px;
}
.why_us_item > h4 {
    font-size: 15px;
    margin: 60px 0 20px;
}

/* Services */
#services h2 {
    margin: 85px 0 50px;
    text-align:center;
}
.service_item > h3 {
    margin: 25px 0 15px;
}
.service_item .btn.know_btn {
    margin: 20px 0 100px;
}



/* ScrollUP */
#scrollUp {
    background: url(../images/top.png)no-repeat scroll 0 0;
    bottom: 20px;
    color: #000;
    height: 40px;
    right: 20px;
    width: 40px;
    opacity:0.7;
}
#scrollUp:hover {
    background: url(../images/top.png)no-repeat scroll 0 -40px;
}

/* Responsive Styles for various devices */
@media (min-width: 1600px) {
    .container{ width: 1200px;}
    .carousel-inner > .item > a > img, .carousel-inner > .item > img {
        height: 740px;
    }
    .carousel-caption {
        left: 18%;
        right: 18%;
        top: 95px;
    }
    .about_content {
        margin-right: 50px;
    }


}

@media (max-width: 1199px) {
    h1 {
        font-size: 50px;
        line-height: 55px;
    }
    h2 {
        font-size: 25px;
    }
    .carousel-inner > .item > a > img, .carousel-inner > .item > img {
        height: 550px;
    }
    .carousel-caption {
        left: 3%;
        right: 3%;
        top:40px;
    }

    .about_banner > img {
        width: 334px;
        display:block;
        margin:0 auto;
    }
    .grid-item {
        height: 220px !important;
    }
    .grid-item--height2 { height: 440px !important;}
    .grid-item .portfolio_hover_area .fa {
        margin-top: 73px;
    }
    .grid-item--width2 .portfolio_hover_area .fa {
        margin-top: 183px;
    }
    #contact_form .second_heading {
        font-size: 30px;
    }
    #contact_form .form-inline .form-control {
        width: 202px;
    }
    #contact_form .form-inline textarea.form-control {
        width: 317px;
    }
    #contact_form .btn.submit_btn {
        width: 95px;
    }


}

@media (max-width: 991px) {
    .list-inline.info > li {
        padding: 0 12px 0 0;
    }
    .list-inline.social_icon > li {
        padding: 0 2px;
    }
    nav.navbar.bootsnav .navbar-header {
        padding: 0;
    }
    nav.navbar.bootsnav .navbar-toggle {
        margin-top: 32px;
    }
    .attr-nav {
        right: 25px;
        top: 15px;
    }
    nav.navbar.bootsnav ul.nav > li > a {
        padding: 12px 0;
    }
    .container.about_bg {
        background-position: bottom 100px center;
    }
    .grid-item {
        height: 255px !important;
        width:50%;
    }
    .grid-item--height2 { height: 500px !important; width:100%;}
    .grid-item .portfolio_hover_area .fa {
        margin-top: 90px;
    }
    .grid-item--width2 .portfolio_hover_area .fa {
        margin-top: 217px;
    }
    #contact_form {
        text-align: center;
    }
    #contact_form form.form-inline {
        margin: 0 -8px;
        padding-right: 15px;
    }
    #contact_form .form-inline .form-control {
        width: 349px;
    }
    #contact_form .form-inline textarea.form-control {
        width: 538px;
    }
    #contact_form .btn.submit_btn {
        width: 168px;
    }


}

@media (max-width: 767px) {
    h1 {
        font-size: 32px;
        line-height: 35px;
    }
    .list-inline.info {
        width: 60%;
    }
    .list-inline.social_icon {
        width: 40%;
        text-align: right;
    }
    nav.navbar.bootsnav .navbar-toggle {
        margin-left: 15px;
    }
    .carousel-caption {
        top: 20px;
    }
    .carousel-inner > .item > a > img, .carousel-inner > .item > img {
        height: 450px;
    }
    .carousel-caption > h3 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .carousel-caption > p {
        font-size: 18px;
        line-height: 22px;
    }
    .carousel-caption .btn.know_btn {
        margin-top: 35px;
    }
    .carousel-caption .btn.know_btn:last-child {
        margin-left: 30px;
    }
    .about_content > h2 {
        font-size: 26px;
        margin-top: 70px;
    }
    .about_content > h3 {
        font-size: 26px;
    }
    .service_item .btn.know_btn {
        margin-bottom: 80px;
    }

    #contact_form h2 {
        margin-top: 10px;
    }
    #contact_form .second_heading {
        margin: 8px 0 20px;
    }
    #contact_form form.form-inline {
        margin: 0;
    }
    #contact_form .form-inline .form-control,#contact_form .form-inline textarea.form-control {
        margin: 0;
        width: 100%;
    }
    #contact_form .btn.submit_btn {
        float: left;
        margin: 0;
        width: 145px;
    }


}

@media (max-width: 479px) {
    h1 {
        font-size: 30px;
        line-height: 32px;
    }
    h3 {
        font-size: 17px;
    }
    .list-inline.info {
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }
    .list-inline.info > li {
        padding: 0 8px;
    }
    .list-inline.social_icon {
        text-align: center;
        width: 100%;
        padding: 0 8px;
    }
    .carousel-inner > .item > a > img, .carousel-inner > .item > img {
        height: 420px;
    }
    .carousel-caption {
        top: 5px;
    }
    .carousel-caption h1.second_heading {
        margin-bottom: 10px;
    }
    .carousel-caption > h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .carousel-caption > p {
        font-size: 16px;
        line-height: 20px;
    }
    .btn.know_btn {
        font-size: 14px;
        padding: 8px 14px;
    }
    .carousel-caption .btn.know_btn {
        margin-top: 10px;
    }
    .carousel-caption .btn.know_btn:last-child {
        margin-left: 10px;
    }
    .about_content > h3 {
        font-size: 24px;
    }
    .about_banner > img {
        width: 100%;
    }
    #filters > button {
        font-size: 14px;
    }
    .grid-item {
        width:100%;
    }
    .grid-item--height2 { height: 255px !important;}
    .grid-item--width2 .portfolio_hover_area .fa {
        margin-top: 90px;
    }
    .list-inline.footer_social_icon > li {
        padding: 8px 3px;
    }


}
